{% extends 'base.html.twig' %}

{% block title %}Recit{% endblock %}

{% block content %}
    <h1>Recit</h1>

    <div class="recit-fullcontent" style="background-color:#fff;padding: 30px;text-align: justify;">


        <h3>{{ recit.titre }} </h3>
        <p> écrit par {{ recit.author }}</p>
        <p>{{ recit.description | raw }}</p>

        <div>

            {{ recit.content | raw }}
        </div>









    </div>

   <button class="btn btn-primary" ><a style="color: white !important;" href="{{ path('recits') }}">Retour aux récits</a></button>
    <button class="btn btn-light"><a style="color: white !important;" href="{{ path('main') }}">Retour à l'acceuil</a></button>

{% endblock %}
