{% extends 'base.html.twig' %}


{% block content %}
    <div class="title-section">
   <h1 class="article-section-title"> Articles sur la Mauritanie  </h1>
    <p>Nos meilleurs articles sont ici. Découvrez en plus sur la Mauritanie.</p>
    </div>

<h4>Nos derniers articles </h4>
<div class="article-section">
{% for article in list %}
    <div class="card" style="width: 18rem;">
        <img src="{{ asset('/build/images/' ~ article.image) }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ article.titre }}</h5>
            <p class="card-text">{{ article.preview}}</p>
            <a href="{{ path("article_show", {id:article.id} ) }}" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>



{% endfor %}
</div>

    <button class="btn btn-light"><a href="{{ path('main') }}">Retour à l'acceuil</a></button>
{% endblock %}