{% extends 'base.html.twig' %}



{% block content %}

    <div class="title-setion">
        <h1 class="article-section-title">Culture Mauritanienne</h1>
        <p style="text-align: center; color: var(--dark);font-size: 23px;">Toute la culture d'un pays aux multitudes d'éthnies.</p>

    </div>

<div class="culture-box">
    <div class="culture-item">
        {#TODO Bring Country and cities stories#}
        <h3 class="title-page-section">Tourisme</h3>
        <img src=" {{ asset("/build/images/desertCamel.jpg") | imagine_filter('index')  }}" alt="Tourisme désert">
        <button class="btn btn-light"><a href="{{ path("cuisine") }}">Voir</a></button>
    </div>

    <div class="culture-item">
        {#TODO Find some Mauritanians artists#}
        <h3 class="title-page-section">Musique</h3>
        <img src=" {{ asset("/build/images/desertCamel.jpg") | imagine_filter('index') }}" alt="">
        <button class="btn btn-light"><a href=""></a>Voir</button>
    </div>

    <div class="culture-item">
        <h3 class="title-page-section">Littérature</h3>
        <img src=" {{ asset("/build/images/desertCamel.jpg") | imagine_filter('index') }}" alt="">
    </div>

    <div class="culture-item">
        <h3 class="title-page-section">Cuisine</h3>
        <img src=" {{ asset("/build/images/desertCamel.jpg") | imagine_filter('index') }}" alt="">
    </div>
</div>


    <button class="back-main btn btn-light"><a href="{{ path('main') }}">Retour à l'acceuil</a></button>
{% endblock %}