{% extends 'base.html.twig' %}

{% block title %}Hello IntgController!{% endblock %}
{% block content %}
{% if is_granted('ROLE_ADMIN') %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}




   <div class="">
       <h1>Bienvenue dans votre interface de gestion </h1>

        <p>Que voulez-vous faire</p>

       <a class="btn btn-light" href="{{ path("intg_recit") }}">Catégorie Récits</a>
       <a class="btn btn-light" href="{{ path("intg_article") }}">Catégorie Articles</a>
   </div>

    <div class="margin-60 center">
        <h3>Editer les tags</h3>
        <ul>
        {% for tag in tags %}

        <li> {{ tag.name }}
        </li>

        {% endfor %}

            {{ form(formTag) }}

        </ul>



    </div>

{% else %}
    <p>Vous n'êtes pas identifié</p>
    <a href=""> S'identifier </a>

{% endif %}

{% endblock %}